<%= link_to '发送日报', {:controller => "dailynotes", :action => "send_mail_edit"}, :style => "float: right"%>
</br>
<fieldset>
    <legend onclick="show_and_hide_element('dailynote_create');"><h3>新建</h3></legend>
    <%= form_tag({:controller => "dailynotes", :action => "create"}, 
	   :method => "post", 
       :remote => true, 
       :id => "dailynote_create", 
       :style => "display: none") do -%>
       <p>时间：<%= date_select 'date', 'date', :use_month_numbers => true %></p>
       <p>内容：<%= kindeditor_tag "dailynote", '', :simple_mode => true %></p>
	   <%= submit_tag '保存' %>
    <% end -%>
</fieldset>
<br/>

<%= form_tag({:controller => "dailynotes", :action => "search"},
    :remote => true, :id => "dailynote_search", :style => "float: right") do -%>
    <%= date_select 'start_date', 'date', :use_month_numbers => true %>
        - <%= date_select 'end_date', 'date', :use_month_numbers => true %>
    <%= submit_tag '搜索' %>
<% end -%>

<h2 style='border-bottom: 2px solid;'>历史日报</h2>

<div id="dailynotes_list"> 
    <%= render :partial => 'list', :locals => {:dailynotes => @dailynotes} %>
</div>

<script>
var f = function(){
    var _  = NEJ.P,
        _e = _('nej.e'),
        _u = _('nej.u'),
        _v = _('nej.v'),
        _p = _('nej.ui');

     var _input = _e._$get('date');
     _v._$addEvent(_input,'click',onInputClick)

     function onInputClick(_event){
        _v._$stop(_event);//因为日历控件是卡片，在document上接收到click 事件都会回调到卡片，所以阻止掉事件
        var _datepick = _p._$$DatePick._$allocate({
                    parent: _input.parentNode,
                    clazz: 'm-dt',      //通过这个样式改变日历控件的表现
                    onchange: onChange
                }); 
     }

    //选中时回调，把值设到input中
    function onChange(_value){
        _input.value = _u._$format(_value,'yyyy-MM-dd');
    }
}
define(['{lib}ui/datepick/datepick.js'],f);

</script>

