<% weekdays = ["周日", "周一", "周二", "周三", "周四", "周五", "周六"] %>
<%= form_tag(weeklynote_path(@weeklynote.id), 
	:method => "put", :remote => false) do -%>
	<h3><%= @weeklynote.start_date.strftime("%y-%m-%d") + " " + weekdays[@weeklynote.start_date.wday] + " ~ " + @weeklynote.end_date.strftime("%y-%m-%d") + " " + weekdays[@weeklynote.end_date.wday] %></h3>
	<p><%= kindeditor_tag 'weeklynote', @weeklynote.note, :simple_mode => true %></p>
	<%= submit_tag '保存' %>
	<%= link_to "取消", {:controller => 'weeklynotes', :action => 'index'} %>
<% end -%>